<%- include('header'); %>	
	<div id="weather">
		<div id="weather">
		<div id="description"><%= description %></div>
		<h1 id="temp">Temperatuur praegu: <%= temp %></h1>
		<h1 id="location"><%= city %></h1>
	</div>
	<br>
<%- include('footer'); %>